* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.btn_1 {
  background-color: blue;
  color: rgb(244, 214, 214);
  padding: 5px;
}

.fa-arrow-down {
  padding-top: 1px;
}

.container .border {
  border: solid 1px #e9e9e9;
}

header nav {
  width: 100%;
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 999;
}

header .menu ul {
  display: flex;
  list-style: none;
}

header .menu ul a {
  text-decoration: none;
}

.menu ul li .color {
  color: white;
}

.menu a {
  padding-right: 15px;
  color: rgb(13, 12, 12);

  align-items: center;
}

.jumbotron {
  width: 100%;
  background-color: #79baef;
  height: 409px;
  padding-top: 100px;
}
.container h1,
p {
  margin-bottom: 20px;
}
.container h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 50px;

}
.annulla {
  margin-top: 20px;
}

.jumbo img {
  width: 700px;
  height: 400px;
  border-style: hidden;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.fa-solid {
  font-size: 30px;
}

.column {
  width: calc(100% / 3);
  border: solid 1px #e9e9e9;
}

.column,
.row .tipologia {
  text-align: center;
  margin-top: 40px;
}

.column hr {
  border: solid #e9e9e9;
}

main ul {
  list-style: none;
}

main li {
  margin-top: 30px;
  margin-left: 15px;
}

main li .button {
  text-decoration: none;
}

.row {
  width: 100%;
  border: solid 1px #e9e9e9;
}

section .container img {
  width: 300px;
}

section {
  margin-top: 40px;
}

section .info-right {
  padding: 40px;
}

.box-image {
  width: 200px;
}

.box {
  width: calc(100% / 3);
}

section {
  padding-top: 100px;
  justify-content: space-between;
}

.content {
  background-color: #b5d0e6;
  height: 200px;
  padding-top: 60px;
}

.content h3 {
  margin-right: 60px;
  margin-top: 10px;
}

.content .grafica {
  background-color: white;
  text-decoration: none;
  padding: 10px;
  color: grey;
}

.background {
  background-color: black;
  justify-content: space-around;
}

footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul {
  color: white;
}

footer .border {
  border: solid gray;
}

.x {
  justify-content: space-around;
  padding-top: 20px;
}

.info-right {
  padding-right: 20px;
}

.info-right .grafica {
  text-decoration: none;
  color: grey;
  border: solid #e9e9e9;
  padding: 10px;
}

section span .fa-angle-down {
  font-size: 16px;
  margin-left: 100px;
}
section span p:hover {
  display: none;
}

.square-left {
  flex-wrap: wrap;
  width: calc(100% / 3);
  height: 30vw;
  display: flex;
}

.container .subtitle,
.scopri {
  padding: 20px;
  margin-bottom: 20px;
}

.content-square img {
  width: 100px;
}

.content-square .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  border: 1px solid black;
}
.square-center {
  display: flex;
  width: calc(100% / 3);
  border: 1px solid black;
}

.active:active {
  border: 20px solid rgba(0, 0, 0, 0.5);
}

.square-right {
  flex-wrap: wrap;
  width: calc(100% / 3);
  height: 30vw;
  display: flex;
}
.square-left .box-1 {
  background-color: #e8f3e7;
}

.square-left .box-2 {
  background-color: #600b2b;
}

.square-left .box-3 {
  background-color: #1794cb;
}

.square-left .box-4 {
  background-color: #fc2129;
}

.square-right .box-1 {
  background-color: #d20a27;
}
.square-right .box-2 {
  background-color: #b5d0e6;
}
.square-right .box-3 {
  background-color: #10287f;
}
.square-right .box-4 {
  background-color: #f8d142;
}

.square-center .logo,
.text {
  padding: 10px;
}

.fa-check {
  color: blue;
  font-size: 20px;
}

.fa-share-nodes,
.fa-user,
.fa-users {
  font-size: 20px;
}

.li_header {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}
.btn_3 {
  background-color: #0d91dee5;
  margin: auto;
  border: #10287f;
}
